.container {
  overflow: 100%;
  overflow-y: scroll;
}

.moveContainer {
  display: flex;
}

.move {
  padding: 0.5rem; 
  cursor: pointer;
}

.blunder {
  background-color: red;
}

.current {
  background-color: green;
}
